@import-normalize; /* stylelint-disable-line */

.small-font {
  font-size: 0.7em !important;
}

.action-container {
  font-size: 2em;
}

.content {
  padding-top: 0 !important;
}

.single-card:first-child {
  margin-top: 35px !important;
}

.single-card {
  padding: 5px 0 !important;
}

.header-container {
  padding: 15px 0 !important;
  display: flex;
  justify-content: space-around;
}

.header-container .header {
  display: inline !important;
}

.ui.input input {
  padding: 0;
}

.ui.search .prompt {
  border-radius: 0;
}

.right-header .icon {
  margin: 0 20px;
}

.right-header a {
  cursor: pointer;
  text-decoration: none;
  color: black;

  &:active,
  &:hover {
    color: black;
  }
}

.button {
  outline: none;
}

.comment .text {
  display: inline;
}

.card-footer input {
  outline: none !important;
  border: none !important;
  border-top: 1px solid #eee !important;
}

/************************************************************************
                              Profile
************************************************************************/

/* Header */
.profile-header {
  height: 40vh;
}

.profile-header .avatar {
  height: 100px;
  width: 100px;
  border: 1px solid #000;
  border-radius: 50%;
  object-fit: cover;
}

.right-header {
  margin: 0;

  & .top-stat {
    justify-content: space-around;
  }

  & p {
    margin: 0 10px;
  }
}

/************************************************************************
                              Utils
************************************************************************/
.strong-text {
  font-weight: bold;
}
